@import "node_modules/font-awesome/css/font-awesome.min.css";
@import "node_modules/github-markdown-css/github-markdown.css";

.markdown-body table {
    overflow: visible;
}

.markdown-body th,
.markdown-body td {
    padding: 6px 13px !important;
    border: 1px solid #ddd !important;
}

p.photo {
    float: right;
    margin: 10mm;
}

aside {
    float: right;
    width: 45%;
    margin-left: 10mm;
}

ul.fa-ul {
    padding-left: 0;
    margin-left: 0;
}

i.fa {
    width: 32px;
    text-align: center;
}

h2 i.fa {
    width: 48px;
}